<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas Redes Sociais</h4>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icoFacebook"></a>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin"></a>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 bg-dark">
        <span class="text-light"> © 2021 Coyright</span>
        <a href="https://www.google.com/" class="text-light" target="_blank">brenda.org.com</a>
    </div>

</footer>